html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  background:
    url("./backgroundimage2.jpg");
    background-size: cover;



}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.movieWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.movieHeader {
  display: flex;
  flex: 1 1 5%;
  min-height: 2em;
  max-height: 2em;
  font-size: 3.2em;
  color: #40E0D0;
  font-family: Impact;
  text-align: center;
  align-content: center;
  padding:10px 0px 10px 0px;
  margin-bottom: 6px;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 3px 3px 10px #000;
  display: block;
}

.movieBody {
  padding-top: 24px;
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

.movieFooter {
  display: flex;
  flex: 1 1 5%;
  background-color: rgba(0,0,0,0.5);
}

.googleButton{
  background: url("./googleSignInNormal.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 200px;
  position: relative;
  top: -450px;
}

.googleButton:hover{
  background: url("./googleSignInFocus.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 200px;
}

.googleButton:active{
  background: url("./googleSignInPressed.png") no-repeat contain;
  height: 50px;
  width: 200px;
}

.signOut{
  height: 25px;
  width: 75px;
  background-color: #4169E1;
  position: absolute;
  top: 0px;
  right: 5px;
}
.signOut:hover{
  background-color: #87CEEB;
}
.signOut:active{
  background-color: #708090;
}
